@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
}

#content {
    width: 80vw;
    margin: 0 auto;
    text-align: center;
}

button {
    background-color: rgba(255, 211, 28);
}

input {
    background-color: rgba(50, 77, 200, 0.4);
}

button,
input {
    border: none;
    margin: 10px;
    border-radius: 5px;
    padding: 5px 15px;
}

table {
    width: 100%;
}

.delete {
    color: red;
}

.update {
    color: green;
}